# pyc
*.pyc
# pycharm
.idea/
# vscode
.vscode/
# eclipse
.project
.pydevproject
# egg-info folder
irrad_control.egg-info/
# server start script
scripts/start_server.sh
# virtual env dir
.venv/
# macOS stuff
.DS_Store
