# pyc
*.pyc
# pycharm
.idea/
# vscode
.vscode/
# eclipse
.project
.pydevproject
# egg-info folder
irrad_control.egg-info/
# Ignore all motorstage configs since they change on every use
irrad_control/devices/motorstage/*.yaml
irrad_control/devices/motorstage/*.yml
# server start script
scripts/start_server.sh
# macOS stuff
.DS_Store
