numpy<=1.26  # C-like arrays and vectorized functions
pyzmq  # 0MQ
paramiko>=3.4.0  # SSH API in python
pyyaml  # yaml
tables  # pytables HDF5 library in Python
matplotlib<3.9.0  # Plotting colors
uncertainties  # Error propagation
pytest  # Tests
numba  # NumPy -aware JIT Compiler
tqdm  # Progressbar for analysis
scipy  # Optimizer
pyqtgraph>=0.13  # Fast plotting
pyqt5>=5.15.2,<6   # Qt library in Python
